/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --buttonlightblue: #1fafe7;
    --buttonblue: #55c4f0;
    --black: #0a0a0a;
    --darkgrey: #141414;
    --offwhite: #fafafa;
    --white: #fff;
    --midgrey: #3a3a3a;
}

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border:none;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #bfe6f5;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px;
    color: #71d4fc;
}

h2 {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    color: #0d0d0e;
}

/* Header */
header {
    background-color: #111111;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #5a5a5a;
}

.button {
    background-color: var(--buttonlightblue);
    border: none;
    color: var(--black);
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 8px;
    box-shadow: 0.3rem 0.6rem #76d8f7e5;
    font-weight: bold;
    margin-top: 1rem;
    position: relative;
    left: 40px;
}

.button:hover {
    background-color: var(--buttonblue);
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #111111;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #5a5a5a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: rgb(194, 246, 250);
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 49px;
}
main>h2 {
    padding-top: 20px;
    padding-left: 20px;
    font-size:xx-large;
}

/* Hero section */
#hero-image {
    height: 650px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center/cover;
    overflow: hidden;
    position: relative;
}


#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(151, 240, 247, 0.5);
    font-size: 60%;
    position: absolute;
    top: 50px;
    width: 90%;
    min-height: 200px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Footer */
footer {
    padding: 0 1rem 0 1rem;
    background-color: #111111;
}

footer>h3 {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    color: #71d4fc;
}

#footer-group {
    margin: 0 auto;
    text-align: center;
    padding-top: 1.875rem;
}

#footer-left-panel {
    float: left;
    text-align: left;
    text-decoration: none;
}

#footer-right-panel {
    float: right;
    text-align: left;
    text-decoration: none;
}

.footer-text {
    font-size: 100%;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

#social-networks {
    text-align: center;
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #111111;
}

#social-networks i {
    font-size: 180%;
    padding: 5%;
    color: #71d4fc;
}

#download-app {
    text-align: left;
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #111111;
}

#download-app i {
    font-size: 180%;
    padding: 5%;
    color: #71d4fc;
}

#disclaimer {
    clear: both;
    text-align: center;
    padding: 1.875rem;
    font-size: x-small;
}

/* styling for the Enquire form */
#enquire-contact-section {
    background-image: url("../images/enquire-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    min-height: 56.25rem;
}

#enquire-contact-panel-container {
    width: 75rem;
    margin: 4.6875rem auto;
}

.enquire-panel {
    text-align: left;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 120%;
    background-color: var(--black);
    border-radius: 10px;
    padding: 1.875rem;
    height: 40.5rem;
}

.enquire-panel h2 {
    text-transform: uppercase;
    font-size: 180%;
    padding-bottom: 1.25rem;
    color:#71d4fc;
}

#enquire-left {
    width: 25rem;
    float: left;
}

.contact-panel h2 {
    text-transform: uppercase;
    font-size: 180%;
    padding-bottom: 1.25rem;
    color: #71d4fc;
}

.contact-panel {
    text-align: left;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 100%;
    background-color: var(--black);
    border-radius: 10px;
    padding: 1.875rem;
    height: 40.5rem;
}

#contact-right {
    width: 35%;
    float: right;
}

.text-input {
    background: rgba(250, 248, 248, 0.733);
    font-family: Roboto , sans-serif;
    font-size: 100%;
    font-weight: 600;
    width: 100%;
    margin: 0.3125rem 0 1.25rem 0;
    border: 0.0625rem solid var(--darkgrey);
    border-radius: 2px;
    padding: 0.3125rem;
    letter-spacing: 0.06875rem;
}

.text-input:hover {
    border-color: var(--offwhite);
}

.text-input-line {
    height: 1.56rem;
}

.text-input-box {
    height: 9.375rem;
    resize: none;
}

.radio-buttons {
    margin-right: 0.625rem;
    display: flex;
    justify-content: space-between;
}

#location-map {
    width: 100%;
    height: 23.125rem;
}

#location-iframe {
    width: 100%;
    height: 100%;
    border: none;
    scroll-behavior: unset;
    margin: 0;
}
/*Thank you section style*/
.thankyou{
    font-family: "Roboto", sans-serif; ;
    color: rgb(11, 11, 204);
    font-size: x-large;
    font-weight: 500;
}
/*About us page styling*/

#aboutus{ 
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

#aboutus h2 {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

#aboutus p {
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    display: inline-block;
    color: black;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}

#aboutus-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

#square-image{
    background: url("../images/aboutus-image.jpeg") no-repeat top center/cover;
    width:200vw;
    height:50vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
        
}
.uses-box{
            margin-left: 3%;
            margin-right: 3%;
            text-align:center

}

.uses-content {
    display:inline-block;
    vertical-align: top;
    color: black;
    text-align: left;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}

/* For smallest screen sizes from px wide and down */
@media screen and (max-width: 320px) {

    #enquire-left,
    #contact-right {

        width: 5.75rem;
        height: 41.25rem;
    }
    /*Aboutus page*/
                img {
                    max-width: 100%;
                    max-height: 100%;
                }

}

/* For very small screen sizes from 450px wide and down */
@media screen and (max-width: 450px) {

    #enquire-left,
    #contact-right {
        width: 15.75rem;
        height: 41.25rem;
        padding: 2rem 1.5rem;
    }
}

/* For small screen sizes from 768px wide and down */
@media screen and (max-width: 768px) {

    #enquire-left,
    #contact-right {
        width: 21.875rem;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Hero image */
    #cover-text {
        width: 600px;
        top: 150px;
        font-size: 80%;
        padding-left: 20px;
    }

    .button {
        position: relative;
        left: 120px;
    }
/* Aboutus page unordered list alignment*/
        .uses-box {
            margin-left: 3%;
            margin-right: 3%;
            text-align: center
        }
    
        .uses-content {
            display: inline-block;
            vertical-align: top;
            color: black;
            text-align: left;
            font-size: 20px;
            letter-spacing: 1px;
            font-family: "Oswald", sans-serif;
            font-weight: 500;
            padding-right: 25px;
        
        }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #ffffff;
    }

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /* Hero section */
    #hero-image {
        height: 1200px;
        width: 100%;
        background: url("../images/hero-image.jpg") no-repeat center center/cover;
        overflow: hidden;
        position: relative;
    }
        /* Aboutus page unordered list alignment*/
        .uses-box {
            margin-left: 3%;
            margin-right: 3%
            text-align: center
        }
    
        .uses-content {
            display: inline-block;
            vertical-align: top;
            color: black;
            text-align: left;
            font-size: 20px;
            letter-spacing: 1px;
            font-family: "Oswald", sans-serif;
            font-weight: 500;
            padding-left:100px;
            
        }
}

/* For larger to medium screens size from 1300px wide and down */
@media screen and (max-width: 1300px) {
    #enquire-contact-panel-container {
        width: 100%;
        display: block;
    }

    #enquire-left {
        margin: auto;
        float: none;
    }

    #contact-right {
        margin: 4.6875rem auto;
        float: none;
    }
}